POSTGRES_USER=whale
POSTGRES_PASSWORD=changeme_strong_password
POSTGRES_DB=silent_whale
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
GITHUB_TOKEN=
LOG_FORMAT=pretty
LOG_LEVEL=INFO
